// colors

$default-font-color: #000;
$background-color: #d0e7ff;
$container-bgcolor: #3498db;
$container-border-color: #000;
$button-color: #fff;
$textbox-bordercolor: lightgrey;
$button-hover-color: #000;
$add-button-color: green;
$clear-button-color: rgb(252, 73, 73);

// media queries

$mobile: "max-width: 768px";
$tablet: "min-width: 769px";
$desktop: "min-width: 1024px";